<body>
    <%- include('header.ejs')%>

        <div class="main">

            <div class="main-h">
                <h1>Quote</h1>
                <p class="quot"> &quot; Take up one idea. Make that one idea your life;<br> dream of it; think of it;
                    live on that
                    idea. <br>
                    Let the brain, the body, muscles, nerves, every part of your body <br> be full of that idea, and
                    just
                    leave every other idea alone. <br>
                    This is the way to success. &quot;</p>
                <div class="main-b">
                    <a href="http://localhost:3000/allQuotes">More Quotes</a>
                </div>
            </div>


            <%- include('footer.ejs')%>

</body>

</html>