<body>
    <%- include('header.ejs')%>
        <div class="main">
            <div class="form">
                <form action="">
                    <div class="user">
                        <input type="text" placeholder="Enter your email" name="email">
                    </div>
                    <div class="pwd">
                        <input type="password" placeholder="Enter your password" name="pwd">
                    </div>

                    <div class="btn">
                        <button>Login</button>
                    </div>
                </form>
                <a href="">Create Account</a>
            </div>
        </div>
        <i class="fa-solid fa-star"></i>
        <%- include('footer.ejs')%>
</body>