* {
    margin: 0;
    padding: 0;

}

body {
    background-image: url("https://cdn.pixabay.com/photo/2017/03/25/17/55/colorful-2174045_1280.png");
    background-size: cover;
}

/* Header */

.header {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.53);
    padding: 14px 20px;
}

.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-style: italic;

}

.header a:hover {
    color: #d62828;
    transition: 1s;
}

.header a.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav {
    float: right;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: center;
    }

    .nav {
        float: none;
    }
}

/* Main */

.main {
    height: 100svh;
    overflow: auto;
}

.main-h {
    margin: auto;
    margin-top: 3rem;
    text-align: center;
    
    background-color: rgba(255, 255, 255, 0.4);
    
    z-index: 2;
    width: fit-content;
    border-radius: 25px;
}

.main-h h1 {
    padding: 1rem;
    font-size: 3rem;
    color: #f77f00;
    text-shadow: 2px 2px #003049;
}

.quot {
    font-size: 2rem;
    color: #003049;
    width: fit-content;
  
    padding: 1rem 2rem;
    margin: 1rem auto;
}

.main-b {
    padding: 2rem 4rem;
    margin: 1rem;
}

.main-b a {
    padding: 1rem 2rem;
    margin: 1rem;
    font-size: 2rem;
    text-decoration: none;
    background-color: #fcbf49;
    color: #003049;
    border: 2px solid #9a752b;
    border-radius: 25px;
}

.main-b a:hover {
    background-color: #fcbf49;
    color: #003049;
}

@media screen and (max-width: 500px) {
    .main-h {
        font-size: 0.5rem;
    }

    .quot {
        font-size: 1.5rem;
        padding: 1rem 2rem;
        margin: 1rem;
    }

    .main-b a {
        font-size: 1rem;
    }

}

/* Footer  */

.footer {

    bottom: 0;

    background: #111;
    height: auto;
    padding-top: 40px;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;

    border-radius: 50%;

}

.socials a i {
    font-size: 1.1rem;
    width: 20px;


    transition: color .4s ease;

}

.socials a:hover i {
    color: aqua;
}

.footer-bottom {
    background: #000;

    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
}

.footer-bottom p {
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom p a {
    color: #44bae8;
    font-size: 16px;
    text-decoration: none;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.footer-menu {
    float: right;

}

.footer-menu ul {
    display: flex;
}

.footer-menu ul li {
    padding-right: 10px;
    display: block;
}

.footer-menu ul li a {
    color: #cfd2d6;
    text-decoration: none;
}

.footer-menu ul li a:hover {
    color: #27bcda;
}

@media (max-width:500px) {
    .footer-menu ul {
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}


/*  quotes data */

.quotes {
    margin: auto;
    width: 900px;
    text-align: center;
    
    background-color: rgba(255, 255, 255, 0.4);
   
    border-radius: 25px;

}

.text {
    font-size: 2rem;
    color: #003049;
    width: fit-content;
  
    padding: 1rem 2rem;
    margin: 1rem auto;

}

.author {

    padding: 10px 15px;
    margin: 1rem;
    color: #d62828;
    text-decoration: underline;
    font-size: 1.5rem;
    /* text-shadow: 2px 2px black; */

}

/* Login form */

.form {

    text-align: center;
    background-color: rgba(255, 255, 255, 0.333);

    margin: auto;
    margin-top: 3rem;
    width: fit-content;
    border-radius: 25px;
    padding: 2rem 4rem;
}

.user input {
    padding: 1rem;
    margin: 1rem;
    border-radius: 25px;
    border: none;
    font-size: 1rem;
    width: 100%;
    background-color: #eae2b7;
}

.pwd input {
    padding: 1rem;
    border-radius: 25px;
    border: none;
    margin: 1rem;
    font-size: 1rem;
    width: 100%;
    background-color: #eae2b7;
}

.btn button {
    padding: 1rem;
    border-radius: 25px;
    border: none;
    margin: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    width: 100%;
    background-color: #fcbf49;
    color: #003049;
    border: 2px solid #9a752b;
}

.btn button:hover {
   
    color: white;
    transition: 1s;
}

.pwd textarea {
    padding: 1rem;
    border-radius: 25px;
    border: none;
    resize: none;
    margin: 1rem;
    font-size: 1rem;
    width: 100%;
    background-color: #eae2b7;
}

.icons {

    display: flex;
    justify-content: center;


}

.icons button {
    background: none;
    border: none;
    font-size: 2rem;
    padding: 1rem;
    margin: 1rem;
    color: black;
}

.icons button:hover {
    color: #f77f00;
    transition: 1s;
}

.back a {
    display: flex;
    font-size: 2rem;
    color: white;

    text-decoration: none;

}

.back a:hover {
    color: #d62828;
    transition: 1s;
}